<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('服务消息列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="xiaoxilb">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>消息ID：</label>
                                <input type="text" name="xiaoxiid"/>
                            </li>
                            <li>
                                <label>发送应用：</label>
                                <input type="text" name="fasongfw"/>
                            </li>
                            <li class="select-time">
                                <label>发送时间：</label>
                                <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginFasongsj]"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endFasongsj]"/>
                            </li>
                            <li>
                                <label>接收应用：</label>
                                <input type="text" name="jieshoufw"/>
                            </li>                           
                            <li>
                                <label>触发事件：</label>
                                <input type="text" name="chufasj"/>
                            </li>
                            <li>
                                <label>节点：</label>
                                <input type="text" name="jiedian"/>
                            </li>
                            <li>
                                <label>消息内容：</label>
                                <input type="text" name="xiaoxinr"/>
                            </li>
                            <li>
                                <label>消息流ID：</label>
                                <input type="text" name="xiaoxiliu"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">            
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:xiaoxi:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:xiaoxi:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:xiaoxi:remove')}]];
        var prefix = ctx + "system/xiaoxi";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "服务消息",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'xiaoxiid', 
                    title: '消息ID',
                    visible: false
                },
                {
                    field: 'fasongfw', 
                    title: '发送应用'
                },
                {
                    field: 'fasongsj', 
                    title: '发送时间'
                },
                {
                    field: 'xiaoxinr', 
                    title: '消息内容'
                },
                {
                    field: 'jieshoufw', 
                    title: '接收应用'
                },
                {
                    field: 'jieshousj', 
                    title: '接收时间'
                },
                {
                    field: 'chufasj', 
                    title: '触发事件'
                },
                {
                    field: 'jiedian', 
                    title: '节点',
                    visible: false
                },
                {
                    field: 'jieguo', 
                    title: '消息结果'
                },
                {
                    field: 'xiaoxiliu', 
                    title: '消息流ID'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.xiaoxiid + '\')"><i class="fa fa-edit"></i>查看</a> ');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>